.card-img-top {
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

header {
  background: linear-gradient(
    to bottom,
    rgba(13, 110, 253, 0.08),
    rgba(13, 110, 253, 0.00)
  );
}

@media print {
  nav,
  footer,
  #themeToggle,
  #printBtn {
    display: none !important;
  }
  .card {
    box-shadow: none !important;
  }
}
